.main-container {
    width: 60%;
    margin: 50px auto;
    background-color: #f9f9f9;
    margin-top: 100px;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
/* Form title*/
.frmtitle h1 {
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}
.frmdsloai table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
    border-radius: 0.375rem;
    overflow: hidden;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.05), 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}
.frmdsloai th,
.frmdsloai td {
    border: 1px solid #edf2f7;
    padding: 1rem;
    text-align: left;
}
.frmdsloai th {
    background-color: #edf2f7;
    font-weight: 600;
}
/* Button container  */
.rowkhac.mb10 {
    margin-bottom: 10px;
}
.rowkhac.mb10 input[type="submit"] {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #2196f3;
    color: white;
    cursor: pointer;
    margin-left: 10px;
    transition: background-color 0.3s ease;
    float: right;
    animation: pulse 1.5s infinite;
}
.rowkhac.mb10 input[type="submit"]:hover {
    background-color: #0b7dda;
}
@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}
/* Link button  */
.rowkhac.mb10 a input[type="button"] {
    background-color: #4caf50;
}
.rowkhac.mb10 a input[type="button"]:hover {
    background-color: #45a049;
}
.rowkhac form input[type="submit"] {
    background-color: #4caf50;
    color: white;
    cursor: pointer;
}
input[type="text"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
input[type="text"]:focus {
    border-color: #007bff;
    outline: none;
}
.product-image {
    max-width: 50px;
    height: auto;
}
/*  cho tổng cộng */
tfoot td {
    font-weight: bold;
}
/* phương thức thanh toán */
.payment-method {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px;
    background-color: #f7fafc;
    border-radius: 8px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}
.payment-method span {
    font-weight: 600;
    font-size: 20px;
    margin-right: 10px;
    color: #2d3748;
}
.payment-method label {
    margin-right: 15px;
    font-size: 16px;
    color: #4a5568;
}